* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 76, 100);
}

.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
}

.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}

#red {
    background-color: red;
    animation: red;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    position: relative;
}

@keyframes red {
   0% {top: -250px;} 
   100% {top: 0px;}
}

#yellow {
    background-color: yellow;   
    opacity: 0;
    animation: yellow;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes yellow {
    0% {opacity: 0;} 
    100% {opacity: 1;}
}

#green {
    background-color: green;
    animation: green;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes green {
    from {
      transform: rotateY(-25deg);
    }
    to {
      transform: rotateY(335deg);

/*HINT -   transform: rotateY(0deg);*/